<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="#"><h2 style="margin-top: 10px; margin-left: 10px;">WELCOME TO EHEALTH  |  PHARMACY PANEL</h2></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav" >
    <ul class="navbar-nav" ml-auto>
      <li class="nav-item  ">
        <a class="nav-link" href="pharmacy_home/{{token}}">Home </a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="pharmacy_medicine/{{token}}">Medicine</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" (click)= "logout()" href="login">Logout</a>
      </li>
    </ul>
  </div>
</nav>
<h2 style="margin-top: 50px; align-content: center; margin-left: 5%; font-size: 40px;">Records</h2>
<div class ="table">
  <mat-table  [dataSource] = "pharmacyCurrentRecord">
  <ng-container matColumnDef = "id">
    <mat-header-cell *matHeaderCellDef><h2 style="text-decoration-color: black; font-weight:bold;">Pharmacy ID</h2></mat-header-cell>
    <mat-cell *matCellDef = "let list" >{{list.id}}</mat-cell>
  </ng-container>
  <ng-container matColumnDef = "patient">
    <mat-header-cell *matHeaderCellDef><h2>Patient ID</h2>  </mat-header-cell>
    <mat-cell *matCellDef = "let list">{{list.patientId}}</mat-cell>
  </ng-container>
  <ng-container matColumnDef = "physicianId">
    <mat-header-cell *matHeaderCellDef> <h2>Physician ID</h2> </mat-header-cell>
    <mat-cell *matCellDef = "let list">{{list.physicianId}}</mat-cell>
  </ng-container>
  <ng-container matColumnDef = "medicines">
    <mat-header-cell *matHeaderCellDef> <h2>Medicines</h2> </mat-header-cell>
    <mat-cell *matCellDef = "let list">{{list.medicine}}</mat-cell>
  </ng-container>
  <ng-container matColumnDef = "prescription">
    <mat-header-cell *matHeaderCellDef> <h2>Prescription</h2> </mat-header-cell>
    <mat-cell *matCellDef = "let list">{{list.prescription}}</mat-cell>
  </ng-container>
  <ng-container matColumnDef = "date">
    <mat-header-cell *matHeaderCellDef> <h2>Date</h2> </mat-header-cell>
    <mat-cell *matCellDef = "let list">{{list.date}}</mat-cell>
  </ng-container>
  <ng-container matColumnDef = "time">
    <mat-header-cell *matHeaderCellDef><h2>Time</h2>  </mat-header-cell>
    <mat-cell *matCellDef = "let list">{{list.time}}</mat-cell>
  </ng-container>
  <mat-header-row *matHeaderRowDef = "pharmacyRecordColumns" >
    <mat-row *matRowDef = "let row; columns: pharmacyRecordColumns" (click) = "getClickedRow(row)"></mat-row>
  </mat-header-row>

</mat-table>
</div>
<div *ngIf="showRecord" else elseBlock>
<div class="card mb-3"  style="max-width: 640px; margin-top: 50px; margin-left: 90px;  background-color: rgb(235, 221, 221); float:left">
  <div class="row no-gutters">
    <div class="col-md-4" style="align-items: center; padding-left: 20px; padding-top: 20px;padding-bottom: 10px;">
      <img src="/../assets/images/profile-user.png"   width="100" heigth = "150" alt="Patient">
    </div>
    <div class="col-md-8">
      <div class="card-body">
      <h2 class="card-title"><mat-icon >perm_identity</mat-icon>  Mr. {{patientDetails.firstName}} {{patientDetails.lastName}}</h2>
        <h2 class="card-text"><mat-icon >perm_identity</mat-icon> {{patientDetails.username}}</h2>
      <h2 class="card-text">  <mat-icon >phone </mat-icon>  {{patientDetails.phone}}</h2>
      </div>
    </div>
  </div>


</div>
<div  style="width: 600px; float: right; background-color:rgb(235, 221, 221);margin-top: 50px; margin-right: 130px; padding: 15px;">
  <h1 style="font-weight: 500; text-align: center;">Generate Bill</h1>


  <button mat-button (click)="openDialog('Add',{})" mat-flat-button color="primary">Add Medicine</button>

  <mat-table [dataSource]="medicineDatasource" #billTable style="margin-top: 30px;" class="my-table mat-elevation-z8">


    <ng-container matColumnDef="name">
      <mat-header-cell *matHeaderCellDef><h2>Medicine Name</h2></mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.name}} </mat-cell>
    </ng-container>

    <!-- Name Column -->
    <ng-container  matColumnDef="price">
      <mat-header-cell *matHeaderCellDef style="display: flex;padding: 21px 10; justify-content: flex-end;"><h2 >Price</h2>  </mat-header-cell>
      <mat-cell *matCellDef="let element" style="display: flex;padding: 21px 10; justify-content: flex-end;"> {{element.price}} </mat-cell>
  </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>



  </mat-table>

  <button mat-button style=" white-space: pre; width: 100%; background-color: darkseagreen; font-size: 30px; margin-top: 30px;" (click) = "updatePayment()">Pay  |   {{calculation()}}</button>
</div>
</div>

