<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="#"><h2 style="margin-top: 10px; margin-left: 10px;">WELCOME TO EHEALTH  |  PATIENT PANEL</h2></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav" >
    <ul class="navbar-nav" ml-auto>
      <li class="nav-item ">
        <a class="nav-link" href="profile/{{token}}">Home </a>
      </li>
      <li class="nav-item">
        <a class="nav-link"  href="patient/{{token}}">Appointment</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="patient/record/{{token}}">Record <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" (click)= "logout()" href="login"  >Logout</a>
      </li>
    </ul>
  </div>
</nav>
<div class="main-content">
  <div class="section-content section-content-p30">
    <div class="container">
      <div class="row" *ngFor="let item of patientRecordList">
        <div class="col-md-3">
          <div class="product-box" style="background-image: url('../../assets/images/recordPlaceholder.png'); background-repeat: no-repeat;overflow: hidden;">
            <a href="product-detail.html">

            </a>
            <div class="price" >Date : {{item.date}}</div>
            <button (click) = "ViewRecord(item.patientId,item.physicianId,item.treatmentId)" class="primary-btn">View Record</button>
          </div>
        </div>
      </div>
      </div>
      </div>
      </div>
<div class="vl"></div>
<div *ngIf="showRecord" else elseBlock>
<div class="card mb-3"  style=" background-color:rgb(248, 227, 227); width: 1005px;  position: relative; display: inline-block; padding-left: 20px; margin-top: 100px; margin-left: 100px;">
  <div class="row no-gutters">
    <div class="col-md-4" style="align-items: center; padding-left: 50px; padding-top: 10px;">
      <img src="/../assets/images/profile-user.png"  width="100" height = "200" alt="Patient" style="align-items: center; align-content: center;">
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h2 class="card-title">Mr. {{physicianDetails.firstName}} {{physicianDetails.lastName}}</h2>
        <h3 class="card-text">{{physicianDetails.username}}</h3>
        <h3 class="card-text"><small class="text-muted">{{physicianDetails.phone}}</small></h3>
      </div>
    </div>
  </div>
</div>
<div style = "background-color:rgb(248, 227, 227); margin-top:20px; margin-left: 100px;width: 1005px;  position: relative; display: inline-block; padding-left: 20px;">
  <h1 style="padding: 30px; font: 400;font-family: Verdana, Geneva, Tahoma, sans-serif;">Lab Results</h1>
  <div class ="table">
    <mat-table  [dataSource] = "dataSource">
      <td mat-cell *matCellDef="let element; let i = index;"> {{i+1}} </td>
    <ng-container matColumnDef = "testName">
      <mat-header-cell *matHeaderCellDef><h3 style="color: black;">Test Name</h3></mat-header-cell>
      <mat-cell *matCellDef = "let list" >{{list.testName}}</mat-cell>
    </ng-container>
    <ng-container matColumnDef = "testResults">
      <mat-header-cell *matHeaderCellDef><h3 style="color: black;">Test Results</h3>  </mat-header-cell>
      <mat-cell *matCellDef = "let list">{{list.testResults}}</mat-cell>
    </ng-container>
    <ng-container matColumnDef = "date">
      <mat-header-cell *matHeaderCellDef> <h3 style="color: black;">Date</h3> </mat-header-cell>
      <mat-cell *matCellDef = "let list">{{list.date}}</mat-cell>
    </ng-container>
    <ng-container matColumnDef = "time">
      <mat-header-cell *matHeaderCellDef><h3 style="color: black;"> Time</h3>  </mat-header-cell>
      <mat-cell *matCellDef = "let list">{{list.time}}</mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef = "testColumns" >
      <mat-row *matRowDef = "let row; columns: testColumns"></mat-row>
    </mat-header-row>

  </mat-table>
  </div>
  </div>
  <div ngif="showPrescription" style ="background-color:rgb(248, 227, 227); margin-top:20px; margin-left: 100px;width: 1005px;  position: relative; display: inline-block; padding-left: 20px;">
    <h1 style="padding: 30px; font: 400;font-family: Verdana, Geneva, Tahoma, sans-serif;">Prescriptions</h1>
    <table class ="table">
    <tr><td>Medicines</td><td>{{treatmentRecord.medicines}}</td></tr>
    <tr><td>Test</td><td>{{treatmentRecord.test}}</td></tr>
    <tr><td>Prescription</td><td>{{treatmentRecord.prescription}}</td></tr>
  </table>
</div>
</div>
  <ng-template #elseBlock><h2 style="width: 100%; background-color: #F5F5F5; text-align: center;" >Please select a appointment to show details</h2></ng-template>
